<div class="flex items-center space-x-2">
  <%= f.check_box column.name, class: "w-5 h-5 border-gray-300 rounded" %>
  <label class="text-gray-700 font-medium"><%= column.name.titleize %></label>
</div>
