<div class="flex items-center space-x-2">
  <%= f.check_box column.name, required: required, class: "w-5 h-5 border-gray-300 rounded text-blue-600 focus:ring-blue-500" %>
  <label class="text-gray-700 font-medium flex items-center">
    <%= column.name.titleize %>
    <% if required %><span class="text-red-500 ml-1">*</span><% end %>
  </label>
</div>
