<h1><i class="fa-solid fa-store"></i> Welcome to My Store</h1>
<p><i class="fa-solid fa-cart-shopping"></i> Shop Now!</p>
<p>
  <i class="fa-brands fa-cc-visa"></i>
  <i class="fa-brands fa-cc-mastercard"></i>
  <i class="fa-brands fa-cc-paypal"></i>
</p>
